<section class="about section" id="about" style="background-image: url('images/bg/about-bg.jpg');">
  <div class="container">
    <h2 class="about__title title">
      An atmosphere of comfort and coziness
    </h2>
    <div class="about__text">
      <p>
        CoffeTalk is a local coffee shop, a place where you can run in the morning before work, take coffee with you
        or, for
        example, drink it on the spot after eating a donut and reading the newspaper
      </p>
      <p>
        Our baristas are real professionals. They are constantly improving their skills so that every cup of coffee you
        drink is
        memorable
      </p>
      <p>
        We can confidently say that our product makes every morning more cheerful, evening more comfortable and life
        better
      </p>
    </div>
  </div>
</section>