<section class="contacts" id="contacts" style="background-image: url('images/bg/hero-bg.jpg');">
  <div class="contacts__wrapper" style="background-image: url('images/bg/contants-bg.jpg');">
    <div class="container">
      <h2 class="contacts__title title">
        Сontacts
      </h2>
      <div class="contacts__content">
        <div class="contacts__content-item">
          <h3 class="contacts__content-title">
            Telephones:
          </h3>
          <a class="contacts__tel link" href="tel:+38(095) 15-17-777">
            +38(095) 15-17-777
          </a>
          <a class="contacts__tel link" href="tel:+38(095) 16-18-127">
            +38(095) 16-18-127
          </a>
        </div>
        <div class="contacts__content-item">
          <h3 class="contacts__content-title">
            Address:
          </h3>
          <p class="contacts__text">Dubno, str. Zavodska, 22</p>
        </div>
        <div class="contacts__content-item">
          <h3 class="contacts__content-title">
            Instagram:
          </h3>
          <a class="contacts__link link" href="#">
            @coffetalk_db
          </a>
        </div>
      </div>
    </div>
  </div>
</section>