<section class="drinks section" style="background-image: url('images/bg/hero-bg.jpg');">
  <div class="container drinks__container">
    <h2 class="drinks__title title">
      Warm drinks
    </h2>
    <button class="drinks__arrows drinks__arrows--prev">
      <svg class="drinks__icon" width="47" height="47">
        <use href="images/sprite.svg#arrow-prev"></use>
      </svg>
    </button>
    <div class="drinks__content swiper">
      <ul class="drinks__list swiper-wrapper">
        <li class="drinks__item swiper-slide">
          <div class="drinks__top">
            <h3 class="drinks__top-title">Latte</h3>
            <div class="drinks__top-box">
              <span class="drinks__size">250 ml</span>
              <span class="drinks__size">350 ml</span>
              <span class="drinks__price">80₴</span>
              <span class="drinks__price">90₴</span>
            </div>
          </div>
          <img class="drinks__img" src="images/drinks/1.png" alt="Mochacino" width="320" height="320">
        </li>
        <li class="drinks__item swiper-slide">
          <div class="drinks__top">
            <h3 class="drinks__top-title">Coffee</h3>
            <div class="drinks__top-box">
              <span class="drinks__size">250 ml</span>
              <span class="drinks__size">350 ml</span>
              <span class="drinks__price">80₴</span>
              <span class="drinks__price">90₴</span>
            </div>
          </div>
          <img class="drinks__img" src="images/drinks/2.png" alt="Mochacino" width="320" height="320">
        </li>
        <li class="drinks__item swiper-slide">
          <div class="drinks__top">
            <h3 class="drinks__top-title">Mochacino</h3>
            <div class="drinks__top-box">
              <span class="drinks__size">250 ml</span>
              <span class="drinks__size">350 ml</span>
              <span class="drinks__price">80₴</span>
              <span class="drinks__price">90₴</span>
            </div>
          </div>
          <img class="drinks__img" src="images/drinks/3.png" alt="Mochacino" width="320" height="320">
        </li>
        <li class="drinks__item swiper-slide">
          <div class="drinks__top">
            <h3 class="drinks__top-title">Coffee</h3>
            <div class="drinks__top-box">
              <span class="drinks__size">250 ml</span>
              <span class="drinks__size">350 ml</span>
              <span class="drinks__price">80₴</span>
              <span class="drinks__price">90₴</span>
            </div>
          </div>
          <img class="drinks__img" src="images/drinks/4.png" alt="Mochacino" width="320" height="320">
        </li>
        <li class="drinks__item swiper-slide">
          <div class="drinks__top">
            <h3 class="drinks__top-title">Oreo Coffee</h3>
            <div class="drinks__top-box">
              <span class="drinks__size">250 ml</span>
              <span class="drinks__size">350 ml</span>
              <span class="drinks__price">80₴</span>
              <span class="drinks__price">90₴</span>
            </div>
          </div>
          <img class="drinks__img" src="images/drinks/5.png" alt="Mochacino" width="320" height="320">
        </li>
      </ul>
    </div>
    <button class="drinks__arrows drinks__arrows--next">
      <svg class="drinks__icon" width="47" height="47">
        <use href="images/sprite.svg#arrow-next"></use>
      </svg>
    </button>
    <div class="drinks__pagination"></div>
  </div>
</section>