<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a class="logo" href="#body">
        <img class="logo__img" src="images/logo.svg" alt="logo" width="114" height="59">
      </a>
      <ul class="footer__menu">
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#about">
            About us
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#drinks">
            Warm drinks
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#pastries">
            Pastries and desserts
          </a>
        </li>
        <li class="footer__menu-item">
          <a class="footer__menu-link link" href="#contacts">
            Contacts
          </a>
        </li>
      </ul>
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">
            <svg class="footer__icon" width="24" height="24">
              <use href="images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            <svg class="footer__icon" width="24" height="24">
              <use href="images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__bottom">
      <a class="footer__copy" href="#">Privacy Policy</a>
    </div>
  </div>
</footer>