<header class="header" id="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="#body">
        <img class="logo__img" src="images/logo.svg" alt="logo" width="114" height="59">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link link" href="#about">
            About us
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#drinks">
            Warm drinks
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#pastries">
            Pastries and desserts
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link" href="#contacts">
            Contacts
          </a>
        </li>
      </ul>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Open menu</span>
      </button>
    </nav>
  </div>
</header>