<section class="hero" style="background-image: url('images/bg/hero-bg.jpg');">
  <div class="container">
    <div class="hero__box">
      <h1 class="hero__title">
        CoffeTalk
      </h1>
      <p class="hero__text">
        Our main mission is to delight guests, coffee enthusiasts with real taste
      </p>
      <button class="hero__btn btn" type="button">
        Make an order
      </button>
    </div>
    <ul class="hero__content">
      <li class="hero__item">
        A unique assortment
      </li>
      <li class="hero__item">
        Cozy atmosphere and hospitality
      </li>
      <li class="hero__item">
        Exclusive roasting
      </li>
      <li class="hero__item">
        Own confectionery production
      </li>
    </ul>
  </div>
</section>