<section class="loyalty section" style="background-image: url('images/bg/loyalty-bg.jpg');">
  <div class="container">
    <h2 class="loyalty__title title">
      Get a loyalty card
    </h2>
    <p class="loyalty__text">
      Sign up for the CoffeeTalk loyalty system. Sign up for the CoffeeTalk loyalty system
    </p>

    <form class="loyalty__form" action="#">
      <label class="loyalty__label">
        <input class="loyalty__input" type="text" name="Name" placeholder="Name">
        <span class="sr-only">Enter your name</span>
      </label>
      <label class="loyalty__label">
        <input class="loyalty__input" name="Phone" type="tel" placeholder="Phone">
        <span class="sr-only">Enter your phone</span>
      </label>
      <button class="btn btn--big" type="submit">
        Register the card
      </button>
    </form>
  </div>
</section>