<section class="pastries section" id="pastries" style="background-image: url('images/bg/pastries-bg.jpg');">
  <div class="container">
    <div class="pastries__inner">
      <div class="pastries__content">
        <h2 class="pastries__title title">
          Pastries and desserts
        </h2>
        <div class="pastries__text">
          <p>
            Having our own pastry shop allows us to control the quality of our desserts
          </p>
          <p>
            The baked goods are always fresh and homemade
          </p>
          <p>
            We take into account the wishes of our guests and constantly update the assortment
          </p>
          <p>
            We constantly follow trends in the world market
          </p>
          <p>
            In our pastry shop, you can order cakes with any filling
          </p>
        </div>
      </div>

      <div class="pastries__box">
        <button class="pastries__arrows pastries__arrows--prev">
          <svg class="pastries__icon" width="47" height="47">
            <use href="images/sprite.svg#arrow-prev"></use>
          </svg>
        </button>
        <div class="pastries__swiper-box">
          <div class="pastries__swiper swiper">
            <ul class="pastries__list swiper-wrapper">
              <li class="pastries__item swiper-slide">
                <img class="pastries__img" src="images/pastries/4.png" alt="brown cake">
              </li>
              <li class="pastries__item swiper-slide">
                <img class="pastries__img" src="images/pastries/1.png" alt="donut">
              </li>
              <li class="pastries__item swiper-slide">
                <img class="pastries__img" src="images/pastries/2.png" alt="chocolate cake">
              </li>
              <li class="pastries__item swiper-slide">
                <img class="pastries__img" src="images/pastries/3.png" alt="cupcake">
              </li>
              <li class="pastries__item swiper-slide">
                <img class="pastries__img" src="images/pastries/4.png" alt="brown cake">
              </li>
            </ul>
          </div>
          <div class="pastries__pagination"></div>
        </div>
        <button class="pastries__arrows pastries__arrows--next">
          <svg class="pastries__icon" width="47" height="47">
            <use href="images/sprite.svg#arrow-next"></use>
          </svg>
        </button>
      </div>

    </div>
  </div>
</section>